{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 120,
    "tabWidth": 4,
    "bracketSameLine": true,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "semi": false,
    "singleAttributePerLine": true
}
