# Server Config
HOST=0.0.0.0
PORT=4502
NODE_ENV=development

# Database Config
DATABASE_MASTER_URL=mysql://root:123456@localhost:3306
DATABASE_NAME=yugo
DATABASE_MIGRATIONS_DIR=../../migrations
DATABASE_SYNCHRONIZE=false

# Redis Config
REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_PASSWORD=123456

# Inngest Config
INNGEST_APP_ID=yugo
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
INNGEST_SERVE_PATH=/api/inngest
INNGEST_DEV=true
INNGEST_BASE_URL=http://localhost:8288
INNGEST_ENV=development
INNGEST_LOG_LEVEL=debug

# Mooving Config
MOOVING_API_URL=
MOOVING_COMPANY_ID=
MOOVING_SECRET_KEY=
