# Server Config
HOST=0.0.0.0
PORT=4501
NODE_ENV=development

MOCK_OTP_SERVICE=true

# Database Config
DATABASE_MASTER_URL=mysql://root:123456@localhost:3306
DATABASE_NAME=yugo
DATABASE_MIGRATIONS_DIR=../../migrations

# Admin Config
ADMIN_EMAIL=yugo@admin.com
ADMIN_PASSWORD=abcd@1234
