# Server Config
HOST=0.0.0.0
PORT=4500
NODE_ENV=development

MOCK_OTP_SERVICE=true

# Database Config
DATABASE_MASTER_URL=mysql://root:123456@localhost:3306
DATABASE_NAME=yugo
DATABASE_MIGRATIONS_DIR=../../migrations
DATABASE_SYNCHRONIZE=false

# Redis Config
REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_PASSWORD=123456

# JWT Config
JWT_SECRET=superdupersecret
JWT_EXPIRES_IN=1y

# S3 Config
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=root
S3_SECRET_KEY=123456789
S3_REGION=blr1
S3_BUCKET=yugo
S3_FORCE_PATH_STYLE=true

# Deepvue Config
DEEPVUE_CLIENT_ID=
DEEPVUE_CLIENT_SECRET=
DEEPVUE_API_KEY=
DEEPVUE_BASE_URL=https://production.deepvue.tech/v1

# Moving Config
MOOVING_BASE_URL=
MOOVING_COMPANY_ID=
MOOVING_SECRET_KEY=

# Razorpay Config
RAZORPAY_API_KEY=
RAZORPAY_API_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# Inngest Config
INNGEST_APP_ID=yugo
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
INNGEST_SERVE_PATH=/api/inngest
INNGEST_DEV=true
INNGEST_BASE_URL=http://localhost:8288
INNGEST_ENV=development
INNGEST_LOG_LEVEL=debug
