# Server Config
HOST=0.0.0.0
PORT=4500
NODE_ENV=development

MOCK_OTP_SERVICE=true

# Database Config
DATABASE_MASTER_URL=mysql://root:123456@localhost:3306
DATABASE_NAME=yugo
DATABASE_MIGRATIONS_DIR=../../migrations
DATABASE_SYNCHRONIZE=false

# Redis Config
REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_PASSWORD=123456

# JWT Config
JWT_SECRET=superdupersecret
JWT_EXPIRES_IN=1y

# Deepvue Config
DEEPVUE_CLIENT_ID=
DEEPVUE_CLIENT_SECRET=
DEEPVUE_API_KEY=
DEEPVUE_BASE_URL=https://production.deepvue.tech/v1
DEEPVUE_AADHAAR_BASE_URL=https://api.deepvue.ai/v1

# Moving Config
MOOVING_BASE_URL=
MOOVING_COMPANY_ID=
MOOVING_SECRET_KEY=

# Razorpay Config
RAZORPAY_API_KEY=
RAZORPAY_API_SECRET=
RAZORPAY_WEBHOOK_SECRET=
