# Server Config
HOST=0.0.0.0
PORT=4500
NODE_ENV=development

MOCK_OTP_SERVICE=true

# Database Config
DATABASE_MASTER_URL=mysql://root:123456@localhost:3306
DATABASE_NAME=yugo
DATABASE_MIGRATIONS_DIR=../../migrations
DATABASE_SYNCHRONIZE=false

# Redis Config
REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_PASSWORD=123456

# JWT Config
JWT_SECRET=superdupersecret
JWT_EXPIRES_IN=1y

# S3 Config
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=root
S3_SECRET_KEY=123456789
S3_REGION=blr1
S3_BUCKET=yugo
S3_FORCE_PATH_STYLE=true

# Deepvue Config
DEEPVUE_CLIENT_ID=
DEEPVUE_CLIENT_SECRET=
DEEPVUE_API_KEY=
DEEPVUE_BASE_URL=

# Mooving Config
MOOVING_BASE_URL=
MOOVING_COMPANY_ID=
MOOVING_SECRET_KEY=
